/* Customise Bootstrap */
.btn-dark {
    width: 100%;
}

.img_container {
    width: 14rem;
}

.img-thumbnail {
    max-width: 100%;
}

.card-deck {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-deck .card{
    flex:auto;
    margin-bottom: 40px;
    max-width: 18rem;
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    color: teal;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #e88484;
}

/* reset padding and margin, width and style*/
.no_padding {
    padding: 0;
}

.btm_padding {
    padding-bottom: 10px;
}

.no_margin {
    margin: 0;
}

.full_width{
    width: 100%;
}
/* Error style */
.error {
    border: 1px red solid;
}
.error_message {
    color: #ce2d21;
    font-weight: bold;
}

/* HEADER */
.sticky_header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
 
}

/* INDEX PAGE */
.main_container{
    padding-top: 8rem;
}

.home_jumb {
    -webkit-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    -moz-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
}

.home_description {

    height: 6rem;
    overflow: scroll;
}
.home_description::-webkit-scrollbar{
    width: 0px;
    background: transparent; 
}

.main_card {
    -webkit-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    -moz-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    border: none;
}

.anime_detail_container {
    padding-top: 1.5rem;
}

/* Index page photos container */
.cover {
    height: 160px;
}
.index_carousel{
    height: 100%
}
.cover_img {
    display: block;
    height:auto;
    width:auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.cover_container {
    margin-top: 10px;
    height: 160px;
}
.gallery {
    margin-bottom:20px;
    height: 300px;
}
.image_container {
    height: 100%;
    width: 100%;
}
.photo_caption{
    margin-bottom: 0;
}
.gallery_image {
    display: block;
    height:auto;
    width:auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.main_content {
    margin-top: 30px;
}

/* DETAIL PAGE */
.book_detail_container {
    -webkit-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    -moz-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
}
/* Photos in detail page*/
.photo_caption{
    background-color: rgba(240, 255, 255, 0.5);
    color: black;
}
.carousel-indicators .active{
    background-color: #607D8B;
}
.carousel-inner{
    height: 100%;
}
.carousel-item {
    height: 100%;
    width: 100%;
}

.hr_style{
    border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
	margin-top: 0;
}


/* Reviews */
.add_rev {
    margin-bottom: 20px;
}

.review_container {
    max-height: 500px;
    overflow-y: scroll;
}


.review_pagination{
    width: 100%;
}

.pagination{
    justify-content: center;
}

/* DOCUMENTATION PAGE*/
.doc_container {
    position: relative;
    overflow-y: scroll;
    max-height: 800px;
    margin-top: 20px;
}

.doc{
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    -moz-box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
    box-shadow: 3px 2px 8px 0px rgba(10,14,36,0.38);
}

.doc_nav {
    border-right: 1px solid #eae9e9;
}
    
.title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: antiquewhite;
    padding: 5px 0 5px 10px;
}
    
.doc_title{
    display: inline;
}

.doc_content {
    word-wrap: break-word;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* LOGIN, LOGOUT, DASHBOARD */
.panel_container {
    margin: auto;
    margin-top: 36px;
    border: 1px solid lightgrey;
}
.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}
.home_header_regular {
    background-color: #6c757d;
    color:white;
}
.home_side_nav_regular {
    background-color: #f7f7f7;
}
.home_header_moderator {
    background-color: #00a2b9;
    color:white;
}
.home_side_nav_moderator {
    background-color: #def7f7;
}

.more_likes{
    font-weight: bold;
}
.more_dislikes {
    color: #676767;
}

/* MEDIA QUERY */
@media (min-width: 1700px){
    .container{
        max-width: 1330px;
    }
}

@media (min-width: 1900px){
    .container{
        max-width: 1580px;
    }
}